<html>
<head>
	<title> About Taal Tadka </title>
	<link rel=StyleSheet href="/site_media/TTStyleSheet.css" type = "text/css">
</head>

<body>

<div id="tadkacontainer">
	<div id="tadkaheader">

		<a href="/blog/"> <IMG src="/site_media/logo.jpg" alt="Taal Tadka"> </a>

		<span id="nav">
		<ol id = "navigation">
			<li> <span> <a href="/admin/"> Login </a></span> </li>
			<li> <span> <a href="/contact/"> Contact </a></span> </li>
			<li> <span> <a href="/members/"> Members </a></span> </li>
			<li> <span> <a href="/music/"> Media </a></span> </li>
			<li class="current"> <span> <a href="/about/"> About </a></span> </li>
			<li> <span> <a href="/blog/"> Home </a></span> </li>
		</ol>
		</span>
	</div>
	
	<div id="content">
		<h1> About Taal Tadka </h1>
		<p> Taal Tadka is Georgia Insitute of Technology's official South Asian/world fusion A Cappella group, formed in the Spring of 2007.  We usually perform at various venues throughout the Atlanta area, but also travel throughout the country, having performed at Duke University, Carnegie Mellon University and Saint Louis University. </p>

		<p>We have our very own record label, and are currently signed by <a href="http://acappellarecords.com/">A Cappella Records</a>.  Our music is available for purchase iTunes, so check us out! </p>
		
		<center><IMG width="80%" src="http://www.taaltadka.com/group1.jpg"/> </center>
	</div>

	<div id="tadkafooter">
		<p class="footerText"> Follow Us On: <a href="https://www.facebook.com/pages/Taal-Tadka/104934009542531?v=wall"><IMG src="/site_media/f_logo.jpg"></a> &nbsp; <a href="http://www.youtube.com/user/TechTaalTadka"><IMG src="/site_media/y_logo.png"></a></p><!-- Image sizes are 14x14-->
	</div>
</div>


</body>


</html>
