<html>
<head>
	<title> About Taal Tadka </title>
	<link rel=StyleSheet href="/site_media/TTStyleSheet.css" type = "text/css">
</head>

<body>

<div id="container">
	<div id="header">

		<a href="/blog/"> <IMG src="/site_media/logo.jpg" alt="Taal Tadka"> </a>

		<span id="nav">
		<ol id = "navigation">
			<li> <span> <a href="/admin/"> Login </a></span> </li>
			<li> <span> <a href="/contact/"> Contact </a></span> </li>
			<li> <span> <a href="/members/"> Members </a></span> </li>
			<li class="current"> <span> <a href="/about/"> About </a></span> </li>
			<li> <span> <a href="/blog/"> Home </a></span> </li>
		</ol>
		</span>
	</div>
	
	<div id="content">
		<h1> About Taal Tadka </h1>
		<p> Taal Tadka is Atlanta's new South Asian / world fusion A Cappella group. We formed in Spring of 2007 at Georgia Tech. </p>
	</div>

	<div id="footer">
		<p class="footerText"> Follow Us On: <a href="https://www.facebook.com/pages/Taal-Tadka/104934009542531?v=wall"><IMG src="/site_media/f_logo.jpg"></a> &nbsp; <a href="http://www.youtube.com/user/TechTaalTadka"><IMG src="/site_media/y_logo.png"></a></p><!-- Image sizes are 14x14-->
	</div>
</div>


</body>


</html>
