<html>
<head>
	<title> Contact </title>
	<link rel=StyleSheet href="/site_media/TTStyleSheet.css" type = "text/css">
</head>

<body>

<div id="container">
	<div id="header">

		<a href="/blog/"> <IMG src="/site_media/logo.jpg" alt="Taal Tadka"> </a>

		<span id="nav">
		<ol id = "navigation">
			<li> <span> <a href="/admin/"> Login </a></span> </li>
			<li class="current"> <span> <a href="/contact/"> Contact </a></span> </li>
			<li> <span> <a href="/members/"> Members </a></span> </li>
			<li> <span> <a href="/about/"> About </a></span> </li>
			<li> <span> <a href="/blog/"> Home </a></span> </li>
		</ol>
		</span>
	</div>
	
	<div id="content">
			<div id="contact">
				<h1> Contact Us </h1>

				<div id="masthead">
					<h2 class="title"> President </h2>
					<p id="Name"> Akilesh Natarajan </p>
					<p id="Email"> <a href="mailto:stryder202@gmail.com">stryder202@gmail.com</a> </p>
				</div>

				<hr />

				<div id="masthead">
					<h2 class="title"> Music Director </h2>
					<p id="Name"> Nikhil Rabindra </p>
					<p id="Email"> <a href="mailto:nikhil.rabindra@gmail.com">nikhil.rabindra@gmail.com</a> </p>
				</div>

				<hr />

				<div id="masthead">
					<h2 class="title"> Secretary </h2>
					<p id="Name"> Ahona Chatterjee </p>
					<p id="Email"> <a href="mailto:achat1992@gmail.com">achat1992@gmail.com</a> </p>
				</div>

				<hr />

				<div id="masthead">
					<h2 class="title"> Web Master </h2>
					<p id="Name"> Anjan Karanam </p>
					<p id="Email"> <a href="mailto:anjanbk@gmail.com">anjanbk@gmail.com</a> </p>
				</div>
			</div>
	</div>

	<div id="footer">
		<p class="footerText"> Follow Us On: <a href="https://www.facebook.com/pages/Taal-Tadka/104934009542531?v=wall"><IMG src="/site_media/f_logo.jpg"></a> &nbsp; <a href="http://www.youtube.com/user/TechTaalTadka"><IMG src="/site_media/y_logo.png"></a></p><!-- Image sizes are 14x14-->
	</div>
</div>


</body>


</html>
