<html>

<head>

<title> Tadkis </title>
<link href="/site_media/tabbed.css" rel="stylesheet" type="text/css"/>
<link href="/site_media/TTStyleSheet.css" rel="stylesheet" type="text/css"/> 

</head>

<body>

<div id="container">
	<div id="header">
		<a href="/blog/"> <IMG src="/site_media/logo.jpg" alt="Taal Tadka"> </a>

		<span id="nav">
			<ol id = "navigation">
				<li> <span> <a href="/admin/"> Login </a></span> </li>
				<li> <span> <a href="/contact/"> Contact </a></span> </li>
				<li class="current"> <span> <a href="/members/"> Members </a></span> </li>
				<li> <span> <a href="/music/"> Media </a></span> </li>
				<li> <span> <a href="/about/"> About </a></span> </li>
				<li> <span> <a href="/blog/"> Home </a></span> </li>
			</ol>
		</span>
	</div>

	<div id="content">
		{% if member_list %}
		<div id="left">
			<h2> Active Tadkis </h2>
			<ol id = "names">
				{% for member in member_list %}
				<li><a href="#{{ member.user.first_name }}"><span>{{ member.user.first_name}} {{ member.user.last_name}}</span></a></li>
				{% endfor %}
			</ol>
		</div>

		<div id="right">
				{% for member in member_list %}
					<div class="bio" id="{{ member.user.first_name }}">
						<IMG src="http://www.taaltadka.com/{{member.user.username}}.png"/>
						<h2> {{ member.user.first_name }} {{ member.user.last_name }} </h2>
						<p> Year: {{ member.year }}</p>
						<p> Major: {{ member.major }} </p>
						<p> Vocal Parts: {{ member.vocalparts }} </p>
						<p> Bio: {{ member.bio }} </p>
					</div>
				{% endfor %}
		</div>
		<br style="clear:both;"/>
		
		<script src="/site_media/activatables.js" type="text/javascript"></script>
		<script type="text/javascript">
	
			var tabArr = new Array();
			{% for member in member_list %}
				tabArr.push('{{ member.user.first_name }}');
			{% endfor %}
			activatables('page', tabArr);

		</script>

		{% else %}
			<p> There are no members in user list... </p>	
		{% endif %}
	</div>

	<div id="footer">
                <p class="footerText"> Follow Us On: <a href="https://www.facebook.com/pages/Taal-Tadka/104934009542531?v=wall"><IMG src="/site_media/f_logo.jpg"></a> &nbsp; <a href="http://www.youtube.com/user/TechTaalTadka"><IMG src="/site_media/y_logo.png"></a></p><!-- Image sizes are 14x14-->
        </div>
</div>
</body>

</html>
