<html>
<head>
	<title> Tadkis </title>
	<link rel=StyleSheet href="TTStyleSheet.css" type = "text/css">
</head>

<body>

<div id="container">
	<div id="header">

		<a href="index.html"> <IMG src="logo.jpg" alt="Taal Tadka"> </a>

		<div id="nav">
		<ol id = "navigation">
			<li> <span> <a href="login.html"> Login </a></span> </li>
			<li> <span> <a href="contact.html"> Contact </a></span> </li>
			<li class="current"> <span> <a href="members.html"> Members </a></span> </li>
			<li> <span> <a href="about.html"> About </a></span> </li>
			<li> <span> <a href="index.html"> Home </a></span> </li>
		</ol>
		</div>
	</div>
	
	<div id="content">
		<h1> Tadkis </h1>
		<p> Aarthi Kumar </p>
		<p> Ahona Chatterjee </p>
		<p> Akilesh Natarajan </p>
		<p> Anjan Karanam </p>
		<p> Divya Kalyani Natarajan </p>
		<p> Kshama Bhyravabhotla </p>
		<p> Malvika Kapoor </p>
		<p> Moinak Bandyopadhyay </p>
		<p> Nikhil Rabindra </p>
		<p> Nitya Malhotra </p>
		<p> Safeer Siddicky </p>
		<p> Sahithya Chodimella </p>
		<p> Thejas Hiremath </p>
		<p> Utkarsh Nanda </p>
	</div>

	<div id="footer">
		<p class="footerText"> Follow Us On: <a href="https://www.facebook.com/pages/Taal-Tadka/104934009542531?v=wall"><IMG src="f_logo.jpg"></a> &nbsp; <a href="http://www.youtube.com/user/TechTaalTadka"><IMG src="y_logo.png"></a></p><!-- Image sizes are 14x14-->
	</div>
</div>


</body>


</html>
